// Framework

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

:root {
    --main-color: #61bbff;
    --text-color: #535353;
    --body-font: 'Roboto', sans-serif;
    --heading-font: 'Poppins', sans-serif;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

// Typography

.light {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.main-color {
    color: var(--main-color);
}

.text-white {
    color: #fff;
}

.break-word {
    word-break: break-word;
}

a, p, input, select, button, td {
    font-family: var(--body-font);
    color: var(--text-color);
    font-size: 1rem;
}

p {
    line-height: 1.75;
    margin-top: 15px;
}

a {
    text-decoration: none;
    display: inline-block;
}

.a-link {
    color: #2A51D1;
}

h1, h2, h3, h4, th {
    font-family: var(--heading-font);
}

th {
    font-weight: 500;
    text-align: left;
}

h1 {
    font-size: 2.25rem;
    line-height: 1.2;
    margin-top: 30px;
}

h2 {
    font-size: 1.75rem;
}

h3, .h3 {
    font-size: 1.25rem;
}

h4 {
    font-weight: 500;
}

.text-center {
    text-align: center;
}

.prevent-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.underline {
    display: block;
    width: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 5px solid var(--main-color);
    transition: .5s; 
    margin-top: 5px;
}

.overline {
    border-top: 5px solid var(--main-color);
    padding-left: 30px;
}

.btn {
    border-radius: 5px;
    font-weight: 500;
    border: none;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.btn-round {
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.btn:hover, a:hover {
    cursor: pointer;
}

.btn-main {
    background-color: var(--main-color);
    color: white;
    margin-top: 30px;
    padding: 10px 20px;
}

.btn-main:hover {
    background-color: #59a8e4;
}

.btn-main:focus {
    background-color: #3f79a5;
}

.btn-red {
    background-color: #ff5a5f;
    border: 2px solid #ff5a5f;
    color: white;
    margin-top: 30px;
    padding: 10px 20px;
}

.btn-outline-main {
    background-color: transparent;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    margin-top: 30px;
    padding: 10px 20px;

}

.btn-outline-main:hover {
    background-color: var(--main-color);
    color: white;
}

.btn-none {
    border: none;
    background-color: transparent;
}

// Header

header {
    padding: 15px 0;
    box-shadow: 0 4px 40px rgba(112, 144, 176, 0.05);
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    z-index: 1;

    nav h3 {
        display: inline-block;
    }
}

// Hamburger menu

.hamburger-menu {
    position: absolute;
    right: 20px;
    top: 15px;
}

#hamburgerContent a {
    display: block;
    padding: 5px 0;
}

#hamburgerContent a:hover {
    font-weight: 500;
}

.active {
    display: block;
}

.hidden {
    display: none;
}

// Layout

.container {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.row {
    margin-top: 60px;   
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.row:first-child {
    flex-direction: column-reverse;
}

.col {
    width: 100%;
}

// Display types
.d-flex {
    display: flex;
}

.d-inline-block {
    display: inline-block;
}

.d-inline {
    display: inline;
}

.d-inline-flex {
    display: inline-flex !important;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

// Flex layout
.flex-center {
    align-items: center;
}

.flex-justify-space-between {
    justify-content: space-between;
}

.flex-direction-column {
    flex-direction: column;
}

.cards {
    display: flex;
    width: 100%;
    margin-top: 15px;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
}

.card {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 40px rgba(112, 144, 176, 0.1);
    transition: 0.3s ease-in-out;

    .card-img-top {
        width: 100%;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 5px;
        position: relative;
    }
}

.card:hover {
    box-shadow: 0 4px 40px rgba(112, 144, 176, 0.15);
    transform: scale(1.05);
}

.card:last-child {
    margin-bottom: 0;
}

footer.copyright-footer {
    margin-top: 210px;
    margin-bottom: 30px;
}

footer.fixed-footer {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
    box-shadow: 0 4px 40px rgba(112, 144, 176, 0.1);
    padding: 20px 0;
}

#player-footer {
    .song-control {
        gap: 10px;
    }

    h4 {
        margin-bottom: 10px;
        margin-top: 5px;
    }

    > div {

        > div > div {
            margin-top: 10px;
            gap: 10px 30px;
            align-items: baseline;
            flex-wrap: wrap;
        }
    }

    input[type="range"] {
        padding: 0;
        margin: 0 10px;
        width: 100%;
    }

    p {
        margin: 0;
    }

    .volume {
        align-items: center;

        input {
            max-width: 100px;
            margin-right: 0;
        }
    }
}

.cover-img-background {
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
}

// Form
input, select {
    width: 100%;
    padding: 15px 25px;
    border: 1px solid #e1e1e1;
    box-sizing: content-box;
    border-radius: 5px;
    margin-top: 30px;
    background: none;
}

input[type="submit"] {
    padding: 15px;
}

input:focus, select:focus {
    outline: none;
    border: 2px solid var(--text-color);
}

.price {
    float: right;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 40px;

    p {
        margin-right: 10px;
    }
}

select {
    appearance: none;
    background-image: url(../img/icons/dropdown-arrow.svg);
    background-repeat: no-repeat;
    background-position: 90% 51%;
}

select:hover {
    cursor: pointer;
}

.border-radius-sm {
    border-radius: 5px;
}

// Images

img {
    border-radius: 5px;
}

.img-fluid {
    width: 100%;
}

.main-img {
    object-fit: cover;
    max-width: 204px;
    height: 241px;
}

.img-overlap {
    display: block;
    position: relative;
    margin-left: 10px;

    img {
        position: relative;
    }

    div {
        position: absolute;
        top: 5%;
        left: -5%;
        z-index: -1;
        width: 100%;
        height: 100%;
        max-width: 200px;
        background-color: var(--main-color);
        border-radius: 5px;
        animation: move-bottom-left 0.5s ease-in-out;
    }

}

.icons {
    margin-top: 30px;

    a {
        display: flex;
        margin-right: 15px;
    }
}

.icon {
    display: flex;
    align-items: center;
    border-radius: 0;
}

.fade-in {
    transition: 0.5s ease-in-out;
    opacity: 0;
}

// Animations
.no-transition {
    transition: none !important;
}

@keyframes move-bottom-left {
    from {
        top: 0;
        left: 0;
    }

    to {
        top: 5%;
        left: -5%;
    }
}

// Index section
.card-member {
    padding: 15px 15px 0 15px;
    max-width: 220px;

    .card-img-top {
        max-height: 150px;
    }
    
    .card-body{
        padding: 25px 10px;
    }
}

.card-song {
    width: 150px;

    .card-img-top {
        max-height: 150px;
    }

    .card-body {
        padding: 10px 15px;
    }

    button {
        bottom: 15px;
        right: 15px;
        position: absolute;
    }
}

.card-concert {
    box-shadow: none;
    background-color: #214E70;
    margin-right: 0;
    justify-content: space-between;
    display: flex;
    flex-direction: column;

    .card-img-top{
        max-height: 190px;  
    }
    
    .card-body {
        padding: 15px 10px 35px 10px;
        width: 100%;
    }
}

.card-concert:hover {
    transform: scale(1);
}

.concert-details {
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    
    .concert-detail img {
        margin-right: 10px;
    }
}

#history-title-background, #history-body-background {
    background-repeat: no-repeat;
    background-size: cover;
}

#history-title-background {
    background-image: url("../img/history-title-background.svg");
    background-position: center;
        
    .row {
        padding: 50px 20px;
    }
}

#history-body-background {
    background-image: url("../img/history-body-background.svg");
    background-position: center -5vh;

    .row {
        padding: 150px 20px;
    }
}

//Shop Section
.shop-search-bar {
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px 60px;
    margin-top: 90px;
    margin-bottom: 60px;
    font-size: 1rem;

    select, button {
        padding: 15px;
        border: 1px solid #989898;
        border-radius: 5px;
    }

    .btn-main {
        margin-top: 0;
    }

    .shop-search {
        position: relative;
        width: 100%;
        max-width: 500px;

        img {
            position: absolute;
            top: calc(50% - 12px);
            left: 15px;
        }

        input {
            margin-top: 0;
            border: 0;
            width: 100%;
            padding: 15px 15px 15px 50px;
            border: 1px solid #989898;
            border-radius: 5px;
        }
    }

    select {
        margin-top: 0;
        width: initial;
        padding-right: 50px;
        min-width: 270px;
    }

    p {
        margin: 0;
    }
}

.card-item {
    padding: 15px 15px 20px;
    max-width: 267.5px;

    .card-img-top {
        max-height: 165px;
    }

    .card-item-info {
        gap: 15px;

        p {
            margin-left: 5px;
        }
    }

    .card-item-price {
        margin-top: 30px;
        font-size: 18px;
    }

    button {
        width: 100%;
    }
}

// Cart Section
table {
    width: 100%;
    overflow-x: auto;
    display: block;
    border-collapse: collapse;

    thead {
        border-bottom: #dddddd solid 1px;
    }

    th {
        padding-bottom: 15px;
        padding-right: 30px;
    }
    
    padding-bottom: 30px;
}

#cart-body {

    input, select {
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    td {
        display: table-cell;
        vertical-align: middle;
        padding-right: 60px;
        padding-top: 30px;
    }

    input {
        max-width: 100px;
        padding-right: 15px;
        min-width: 80px;
    }

    p {
        margin-top: 0;
    }

    select {
        padding-left: 10px;
        min-width: 70px;
    }

    button {
        margin-top: 0;
    }

    .background-image {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 5px;
        width: 100px;
        height: 125px;
    }
}

.margin-center {
    margin: 0 auto;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-lg {
    margin-top: 30px;
}

@media only screen and (min-width: 768px) {
    html {
        font-size: 18px;
    }

    small {
        font-size: 0.8rem;
    }

    h1 {
        font-size: 3rem;
    }

    .btn-main {
        margin-top: 60px;
        padding: 15px 30px;
    }

    // Grid
    .col-md-8 {
        width: 66.66666667%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-5 {
        width: 41.66666667%;
    }

    .col-md-4 {
        width: 33.33333333%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-2 {
        width: 16.66666667%;
    }

    .col-md-1 {
        width: 8.33333333%;
    }

    .container {
        max-width: 768px;
    }

    .main-img {
        max-width: 100%;
        height: auto;
        max-height: 500px;
    }

    .img-overlap div {
        max-width: 100%;

        top: 13px;
        left: -15px;
    }

    .icons {
        position: absolute;
        bottom: 0;
    }

    .main-col {
        position: relative;
    }

    .icons img {
        margin-right: 10px;
    }

    .row {
        margin-top: 120px
    }

    .hamburger-menu {
        display: none;
    }

    #hamburgerContent {
        display: inline;

        a {
            display: inline-block;
            margin-left: 30px;
        }
    }

    nav {
        display: flex;
        justify-content: space-between;
    }
    
    .row, .row:first-child {
        flex-direction: row;
    }

    .card:last-child {
        margin-bottom: auto;
    }

    .card-song {
        width: 175px;

        .card-img-top {
            max-height: 175px;
        }
    }

    .card-concert {
        flex-direction: row;

        > *  {
            width: 50%;
            text-align: right;
        }

        .card-img-top{
            max-height: 250px;
        }
    }

    form.book-ticket {
        border-top: 10px solid var(--main-color);
        border-radius: 5px;
        padding: 0 15px 30px 15px !important;
        box-shadow: 0 4px 40px #7090b010;
        background-color: white;
        max-width: 430px;
        float: right;
    }

    .index-background {
        background-image: url(../img/Path\ 24.svg);
        background-repeat: no-repeat;
        background-position: bottom right;
    }

    header {
        padding: 20px 0;
    }
}

@media only screen and (min-width: 992px) {
    .container {
        max-width: 992px;
    }
    
    // Grid
    .col-lg-6 {
        width: 50%;
    }

    .col-lg-5 {
        width: 41.66666667%;
    }

    .col-lg-4 {
        width: 33.33333333%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-2 {
        width: 16.66666667%;
    }

    .col-lg-1 {
        width: 8.33333333%;
    }

    .main-col p{
        margin-top: 30px;
    }

    .cards {
        margin-top: 30px;
    }

    .card-concert {
        .card-img-top {
            max-height: 300px;
        }

        small {
            font-size: 1rem;
        }

        .card-body {
            padding: 50px 35px;
        }
    }

    form.book-ticket {
        padding: 0 30px;
    }

    .concert-details {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .main-img {
        max-height: 500px;
    }

    #history-body-background, #history-title-background {
        background-size: contain;
    }

    #history-body-background {
        background-position: center -5vh;
    }

    .col-concert-info {
        margin-top: 60px;
        padding-left: 80px;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }

    .icons a {
        margin-right: 20px;
    }

    h1 {
        font-size: 3.55555555555rem;
    }

    .main-img {
        max-height: 550px;
    }

    .img-overlap div {
        top: 30px;
        left: -25px;
    }

    h1 {
        margin-top: 50px;
    }

    .card-concert {
        .card-img-top {
            max-height: 400px;
        }

        .card-body {
            padding: 80px 40px;

            p {
                line-height: 2.5;
            }
        }
    }

    .concert-details {
        max-width: 350px;
    }
}
